.idea

# Ignore certificates
**.crt
**.cer
**.pem
# Ignore CSRs
**.csr
# Ignore private keys
**.key
# Ignore p12 bundles
**.p12
# Ignore CRLs
**.crl

## Ignore old serials
**.srl.old
# Ignore old DBs
**.db.old
# Ignore (old) attributes
**.db.attr
**.db.attr.old
